 <%= form_for(school) do |f| %>
    <% if school.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(school.errors.count, "error") %> prohibited this post from being saved:</h2>

        <ul>
        <% school.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control" %>
    </div>


  <div class="field">
    <%= f.label :country %>
      <%= f.collection_select(:country, State.select(:country).uniq, :country, :country) %>
  </div>

  <div class="field">
    <%= f.label :state %>
    <%= f.collection_select(:state, [], :state, :state) %>
  </div>

  <div class="field">
    <%= f.label :city %>
    <%= f.collection_select(:city,[],:city, :city) %>
  </div>

  <div class ="field">
  <%= f.label :school_name %>
  <%= f.collection_select(:id,School.all, :id, :name) %>


  </div>

  <div class="field">
    <%= f.label :address %>
    <%= f.text_field :address %>
  </div>


    <div class="actions">
      <%= f.submit %>
    </div> 
<% end %>